.task-details {
  .header {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .top {
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      background: var(--background-primary-2);
      border-radius: 12px;

      .title {
        font-size: 32px;
        font-weight: 600;
        color: var(--text-light);
      }

      .filters {
        padding: 5px;
        display: flex;
        align-items: center;
        gap: 5px;
        border-radius: 12px;
        border: 1px solid var(--line-secondary);
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
