<div class="user-detail">
  <div class="wrapper">
    <div class="item">
      <img class="avatar" [src]="user()?.avatar_url" alt="user avatar">
    </div>
    <div class="item">
      <h3 class="username">{{ user()?.user_name }}</h3>
      <h4 class="name">{{ `${ user()?.first_name } ${ user()?.last_name }` }}</h4>
      @if (!isMe()) {
        <app-button
          appearance="flat"
          size="md"
          [iconStart]="isFollow() ? 'user-minus' : 'user-plus'"
          [isLoading]="isLoadingFollow()"
          (clicked)="followUser(isFollow())"
        >
          {{ isFollow() ? 'Отписаться' : 'Подписаться' }}
        </app-button>
      }
    </div>
  </div>

  <div class="details">
    <div class="followers">
      <div class="item">
        <app-icon icon="users" size="md"/>
        <p class="text">{{ user()?.followers?.length ?? 0 }} подписчиков</p>
      </div>
      <div class="item">
        <app-icon icon="users" size="md"/>
        <p class="text">{{ user()?.following?.length ?? 0 }} подписок</p>
      </div>
    </div>

    <div class="socials">
      @for (social of user()?.socials; track $index) {
        <div class="social">
          <app-icon icon="user" />
          <p class="title">{{ social }}</p>
        </div>
      }
    </div>
  </div>
</div>
