<div class="pagination">
  <button class="btn">
    <img src="/images/icons/chevron-left.svg" alt="prev" class="btn__img">
  </button>
  <button class="btn">
    <span class="btn__text">1</span>
  </button>
  <button class="btn active">
    <span class="btn__text">2</span>
  </button>
  <button class="btn">
    <span class="btn__text">3</span>
  </button>
  <button class="btn">
    <span class="btn__text">4</span>
  </button>
  <button class="btn">
    <span class="btn__text">5</span>
  </button>
  <button class="btn">
    <img src="/images/icons/chevron-right.svg" alt="next" class="btn__img">
  </button>
</div>
