.pagination {
  padding: 5px 15px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  background: var(--background-primary);
  border-radius: 12px;

  .btn {
    width: 25px;
    height: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: .3s ease-in-out;

    &.active {
      background: var(--background-light);

      .btn__text {
        font-size: 22px;
        color: var(--text-light);
      }
    }

    &:hover {

      .btn__text {
        color: var(--text-light-3);
      }
    }

    &__text {
      font-size: 20px;
      font-weight: 500;
      color: var(--text-gray-2);
      transition: .3s ease-in-out;
    }

    &__img {
      width: 10px;
      height: 10px;
    }
  }
}
