<div class="task-card">
  <div class="header">
    <h2 class="title">Менеджер задач</h2>
    <div class="badge">активная</div>
  </div>
  <div class="body">
    <p class="description">
      ToDo - это инструмент для организации задач. C этим виджетом вы сможете создавать проекты, разбивать их на отдельные задачи и подзадачи. Также в ToDo можно назначать задачи определенному пользователю и устанавливать сроки их выполнения.
    </p>

    <div class="stacks">
      <div class="badge">Angular</div>
      <div class="badge">Bootstrap</div>
      <div class="badge">Go</div>
    </div>
  </div>
  <div class="footer">
    <div class="avatars">
      <div class="avatar">
        <img class="avatar__img" src="/images/avatar/avatar.jpg" alt="avatar">
      </div>
      <div class="avatar">
        <img class="avatar__img" src="/images/avatar/avatar.jpg" alt="avatar">
      </div>
      <div class="avatar">
        <img class="avatar__img" src="/images/avatar/avatar.jpg" alt="avatar">
      </div>
    </div>
    <div class="dates">
      <div class="dates-last">
        <div class="dates-last-title">Дата создания: </div>
        <div class="dates-last-value">11.11.2025</div>
      </div>
      <div class="dates-create">
        <div class="dates-create-title">Последний просмотр</div>
        <div class="dates-create-value">16.11.2025</div>
      </div>
    </div>
  </div>

  <div class="go">
    <img src="/images/icons/chevron-right-dark.svg" alt="go to" class="go__img">
  </div>
</div>
