.task-card {
  position: relative;
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--background-primary);
  border-radius: 15px;
  overflow: hidden;
  text-decoration: none;
  transition: 0.3s ease-in-out;

  &:hover {
    background: var(--background-primary-hover);

    .footer {
      background: var(--background-primary-hover);
    }
  }

  .header {
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .title {
      font-size: 24px;
      font-weight: 600;
      color: var(--text-light);
    }
  }

  .body {
    padding: 0 20px;

    .description {
      font-size: 16px;
      font-weight: 500;
      color: var(--text-gray-2);
    }

    .stacks {
      margin-top: 15px;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .footer {
    margin-top: 15px;
    padding: 10px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: var(--background-light);
    transition: 0.3s ease-in-out;

    .avatars {
      display: flex;
      align-items: center;

      .avatar {
        margin-left: -10px;
        width: 25px;
        height: 25px;
        border: 2px solid var(--line-100);
        border-radius: 50%;
        overflow: hidden;

        &:first-child {
          margin-left: 0;
        }

        &__img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .dates {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      gap: 5px;

      &-last,
      &-create {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;

        &-title {
          font-size: 11px;
          font-weight: 500;
          color: var(--text-light-3);
        }

        &-value {
          font-size: 11px;
          font-weight: 500;
          color: var(--text-light-3);
        }
      }
    }
  }
}
