.task-card {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--background-100);
  border-radius: 10px;
  overflow: hidden;

  &:hover {

    .go {
      transform: translateY(-50%) translateX(50%);
    }
  }

  .header {
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .title {
      font-size: 24px;
      font-weight: 600;
      color: var(--text-200)
    }

    .badge {
      padding: 4px 8px;
      font-size: 14px;
      font-weight: 500;
      color: var(--text-100);
      text-align: center;
      background: #008150;
      border-radius: 12px;
      box-shadow:
        rgba(0, 129, 80, 0.35) 0px 22px 40px,
        rgba(0, 0, 0, 0.18) 0px 8px 16px,
        rgba(0, 129, 80, 0.25) 0px 2px 6px,
        rgba(0, 0, 0, 0.12) 0px -2px 6px;}
  }

  .body {
    padding: 0 20px;

    .description {
      font-size: 14px;
      font-weight: 500;
      color: var(--text-300);
    }

    .stacks {
      margin-top: 10px;
      display: flex;
      align-items: center;
      gap: 8px;

      .badge {
        padding: 4px 8px;
        font-size: 13px;
        font-weight: 500;
        color: var(--text-300);
        background: #0d0d10;
        border-radius: 12px;
      }
    }
  }

  .footer {
    margin-top: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: var(--background-150);

    .avatars {
      display: flex;
      align-items: center;

      .avatar {
        margin-left: -10px;
        width: 25px;
        height: 25px;
        border: 2px solid var(--line-100);
        border-radius: 50%;
        overflow: hidden;

        &:first-child {
          margin-left: 0;
        }

        &__img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .dates {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      gap: 5px;

      &-last, &-create {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;

        &-title {
          font-size: 11px;
          font-weight: 500;
          color: var(--text-200)
        }

        &-value {
          font-size: 11px;
          font-weight: 500;
          color: var(--text-200)
        }
      }
    }
  }

  .go {
    padding: 30px;
    position: absolute;
    width: 200px;
    height: 100%;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--background-300);
    border-radius: 100%;
    transition: .3s ease-in-out;
    cursor: pointer;

    &:hover {
      background: var(--background-350);

      .go__img {
        transform: scale(1.2);
      }
    }

    &:active {
      transform: translateY(-50%) translateX(50%) scale(.95);
    }

    &__img {
      width: 60px;
      height: 60px;
      transition: .3s ease-in-out;
    }
  }
}
