:root {

  --primary: #191b1e;
  --secondary: #131925;
  --tertiary: #3f4b59;

  // Text
  --text-50: #f4f5f7;
  --text-100: #e4e7e9;
  --text-200: #cbd1d6;
  --text-300: #a8b1b8;
  --text-400: #7c8994;
  --text-500: #616d79;
  --text-600: #535d67;
  --text-700: #484f56;
  --text-800: #3f444b;
  --text-900: #383c41;
  --text-950: #191b1e;

  --background-50: #f4f5f7;
  --background-100: #e4e7e9;
  --background-200: #cbd1d6;
  --background-300: #a8b1b8;
  --background-400: #7c8994;
  --background-500: #616d79;
  --background-600: #535d67;
  --background-700: #484f56;
  --background-800: #3f444b;
  --background-900: #383c41;
  --background-950: #191b1e;

  --line-100: #433f3f;
  --line-200: #f7f7f7;
  --line-300: #f7f7f7;
}