:root {
  --primary: #05080d;
  --secondary: #131925;
  --tertiary: #3f4b59;

  // Text
  --text-100: #e4e1e1;
  --text-200: #d8d5d5;
  --text-300: #acacac;

  --background-100: #191b1e;
  --background-200: #15181a;
  --background-300: #e4e1e1;

  --line-100: #433f3f;
  --line-200: #f7f7f7;
  --line-300: #f7f7f7;
}
