<div class="login" glowEffect>
  <div class="wrapper">
    <div class="header">
      <h2 class="title">Авторизация</h2>
    </div>
    <div class="body">
      @if (form) {
        <form class="form" [formGroup]="form" (ngSubmit)="submit()">
          <app-input formControlName="user_name" size="xl" label="Username" type="text" iconStart="user"/>
          <app-input formControlName="password" size="xl" label="Password" type="password" iconStart="lock-keyhole"/>
          <app-button size="xl"
                      appearance="dark"
                      type="submit"
                      [isLoading]="isLoading()"
          >
            Войти
          </app-button>
        </form>
      }
      <div class="divider"></div>
    </div>
    <div class="footer">
      <div class="alternative">
        <app-button class="btn" size="lg" appearance="outline">Google</app-button>
        <app-button class="btn" size="lg" appearance="outline">ICloud</app-button>
        <app-button class="btn" size="lg" appearance="outline">Github</app-button>
      </div>
    </div>
  </div>
</div>
