.input {
  width: 100%;
  position: relative;
  overflow: hidden;

  //Sizes
  &.xl {

    .field {
      height: 46px;
      padding: 20px 60px 6px 20px;
      border-radius: 10px;
    }

    .label {
      font-size: 16px;
      font-weight: 500;
    }
  }

  &.lg {

    .field {
      height: 38px;
      padding: 20px 60px 8px 20px;
      border-radius: 10px;
      font-size: 14px;

      &:focus + .label,
      &:not(:placeholder-shown) + .label {
        top: 6px;
        font-size: 10px;
        transform: none;
      }
    }

    .label {
      font-size: 14px;
      font-weight: 500;
    }
  }

  &.md {

    .field {
      height: 32px;
      padding: 5px 60px 5px;
      border-radius: 10px;
      font-size: 14px;

      &:focus + .label,
      &:not(:placeholder-shown) + .label {
        opacity: 0;
      }
    }

    .label {
      font-size: 14px;
      font-weight: 500;
    }
  }

  &.sm {

    .field {
      height: 27px;
      padding: 5px 60px 5px;
      border-radius: 10px;
      font-size: 12px;

      &:focus + .label,
      &:not(:placeholder-shown) + .label {
        opacity: 0;
      }
    }

    .label {
      font-size: 12px;
      font-weight: 500;
    }
  }

  &.with-icon {
    .label {
      left: 40px;
    }

    .field {
      padding-left: 40px;
    }
  }

  .label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 500;
    color: var(--text-light-3);
    transition: .3s ease-in-out;
  }

  .field {
    width: 100%;
    border: 1px solid var(--line-primary);
    border-radius: 10px;
    background: transparent;

    font-size: 14px;
    font-weight: 500;
    color: var(--text-light);

    transition: .3s ease-in-out;

    &:hover {
      border-color: var(--line-secondary);
    }

    &:focus-visible {
      border-color: var(--line-secondary) !important;
      outline: none;
    }

    &:focus + .label,
    &:not(:placeholder-shown) + .label {
      top: 8px;
      font-size: 12px;
      transform: none;
    }

    &[type="password"] {
      padding-right: 100px;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: none;
      -webkit-text-fill-color: var(--text-light);
      transition: background-color 9999s ease-in-out 0s;
    }

    &:-webkit-autofill + .label {
      top: 8px;
      font-size: 12px;
      transform: none;
    }
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  .actions {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .action {
      opacity: 0;
      transform: translateX(100px) scale(0);
      transition: .3s ease-in-out;

      &.visible {
        opacity: 1;
        transform: translateX(0) scale(1);
      }
    }
  }
}
