* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-primary);
}

::selection {
  background: var(--background-primary-2);
  color: var(--text-light-2);
}
