<div class="menu">
  <div class="menu__header">
    <div class="ic">
      <app-icon icon="home" appearance="primary" size="xl"></app-icon>
      <app-icon icon="home" appearance="primary" size="lg"></app-icon>
      <app-icon icon="home" appearance="primary" size="md"></app-icon>
      <app-icon icon="home" appearance="primary" size="sm"></app-icon>
    </div>
    <div class="ic">
      <app-icon icon="home" appearance="info" size="xl"></app-icon>
      <app-icon icon="home" appearance="info" size="lg"></app-icon>
      <app-icon icon="home" appearance="info" size="md"></app-icon>
      <app-icon icon="home" appearance="info" size="sm"></app-icon>
    </div>
    <div class="ic">
      <app-icon icon="home" appearance="success" size="xl"></app-icon>
      <app-icon icon="home" appearance="success" size="lg"></app-icon>
      <app-icon icon="home" appearance="success" size="md"></app-icon>
      <app-icon icon="home" appearance="success" size="sm"></app-icon>
    </div>
    <div class="ic">
      <app-icon icon="home" appearance="danger" size="xl"></app-icon>
      <app-icon icon="home" appearance="danger" size="lg"></app-icon>
      <app-icon icon="home" appearance="danger" size="md"></app-icon>
      <app-icon icon="home" appearance="danger" size="sm"></app-icon>
    </div>

    <div class="ic">
      <app-icon icon="home" appearance="warning" size="xl"></app-icon>
      <app-icon icon="home" appearance="warning" size="lg"></app-icon>
      <app-icon icon="home" appearance="warning" size="md"></app-icon>
      <app-icon icon="home" appearance="warning" size="sm"></app-icon>
    </div>
  </div>
  <div class="menu__body"></div>
</div>
