.menu {
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--background-primary-2);
  border-radius: 24px;

  .ic {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
