.badge {
    background-color: rgb(1, 90, 11);
    border-radius: 11px;
    padding: 4px 12px;
    color: #fff;
    font-size: 14px;

    &.primary {
        background-color: var(--background-300);
        color: var(--text-50);
    }

    &.secondary {
        background-color: var(--background-400);
        color: var(--text-50);
    }

    &.lg {
        font-size: 16px;
        border-radius: 16px;
        padding: 6px 14px 5px 14px;
    }

    &.xl {
        font-size: 18px;
        border-radius: 19px;
        padding: 8px 16px;
    }
}