.dashboard {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    gap: 30px;

    .menu {
      position: sticky;
      top: 0;
      width: 500px;
      height: 500px;
    }

    .wrapper {
      padding: 30px;
      width: 100%;
      height: 100%;
      background: var(--background-primary-2);
      border-radius: 24px;
    }
  }
}
