@use 'app/shared/styles/mixins/mixins' as mixins;

.dashboard {
  width: 100%;
  height: 100vh;
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .header {

  }

  .body {
    @include mixins.background-blur();
    padding: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;

    .user {
      width: 100%;
      max-width: 300px;
      height: 100%;
    }

    .inner {
      padding-left: 40px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      border-left: 2px solid var(--line-primary);
    }
  }
}
