<div class="header">
  <div class="header__item">
    <div class="logo">
      <img src="/images/logo/logo-light.svg" alt="nine squares" class="logo__img" />
    </div>
    <div class="nav">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav__link">Доска задач</a>
      <a routerLink="/publish" routerLinkActive="active" class="nav__link">Публикации</a>
      <a routerLink="/settings" routerLinkActive="active" class="nav__link">Настройка</a>
    </div>
  </div>
  <div class="header__item">
    <div class="actions">
      <button class="btn">
        <img class="btn__img" src="/images/icons/global.svg" alt="global" />
      </button>

      <button class="btn">
        <img class="btn__img" src="/images/icons/moon.svg" alt="moon" />
      </button>

      <div class="user">
        <img class="user__img" src="/images/avatar/avatar.jpg" alt="avatar" />
      </div>
    </div>
  </div>
</div>
