.header {
  padding: 10px 20px;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background: var(--background-200);
  border-radius: 24px;

  &__item {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 40px;

    &:last-child {
      justify-content: flex-end;
    }
  }

  .logo {
    width: 100px;

    &__img {
      width: 100%;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 20px;

    &__link {
      font-size: 20px;
      font-weight: 500;
      color: var(--text-300);
      text-decoration: none;
      transition: .3s ease-in-out;

      &:hover {
        color: var(--text-200)
      }

      &.active {
        color: var(--text-100)
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 10px;

    .btn {
      padding: 7px;
      width: 35px;
      height: 35px;
      background: transparent;
      border: 2px solid var(--line-100);
      border-radius: 8px;

      &__img {
        width: 100%;
        height: 100%;
      }
    }

    .user {
      width: 40px;
      height: 40px;
      background: transparent;
      border: 2px solid var(--line-100);
      border-radius: 100%;
      overflow: hidden;
      transition: .3s ease-in-out;
      cursor: pointer;

      &:hover {
        border-color: var(--line-200)
      }

      &__img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
