<div class="header" glowEffect>
  <div class="header__item">
    <div class="logo">
      <img src="/images/logo/logo-light.svg" alt="nine squares" class="logo__img"/>
    </div>
    <div class="nav">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav__link">Доска задач</a>
      <a routerLink="/publish" routerLinkActive="active" class="nav__link">Публикации</a>
      <a routerLink="/settings" routerLinkActive="active" class="nav__link">Настройка</a>
    </div>
  </div>
  <div class="header__item --last">
    <div class="actions">
      <app-button shape="square" appearance="flat" size="md" iconStart="globe"/>
      <app-button shape="square" appearance="flat" size="md" iconStart="sun"/>
      <div class="user">
        <app-user/>
      </div>
    </div>
  </div>
</div>
